{% extends 'base.html' %}



{% block content %}
    <h1>Create a new task</h1>
    <main>
        <div>
          <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button>Create a new task</button>
          </form>
        </div>
    </main>
{% endblock content %}
