{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block content %}
  <h1>Create a new project</h1>
  <main>
      <div>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button>Create</button>
        </form>
      </div>
    </main>
{% endblock content %}
