{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block content %}

        <main>
            <div>
                <h1>My Projects</h1>
            <p> <a href="{% url "create_project" %}">Create a new project</a
            </p>
                {% if projects.count == 0 %}
                <p> You are not assigned to any projects</p>
                {% else %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number of tasks</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for project in projects %}
                            <tr>
                                <td><a href="{% url "show_project" project.id %}"</a>{{ project.name }}</td>
                                <td>{{ project.tasks.all|length }}</td>
                            {% endfor %}
                            </tr>
                    </table>
                {% endif %}
            </div>
{% endblock content %}
